<header>
  <div.headerFrame>
    <menu-main session=input.session />  
  </div>
</header>

style {
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
  }
  .headerFrame {
    padding: 5px 20px;
    display: flex;
  }
}
