<nav.menu-main>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/form">Form</a>
    </li>
  </ul>
</nav>

style {
  .menu-main {
    top: 0px;
    left: 0px;
    position: relative;
  }
  .menu-main ul {
    list-style: none;
    padding: 0px;
  }
  .menu-main ul li {
    display: inline-block;
    padding-right: 20px;
  }
  .menu-main ul li a {
    text-decoration: none;
  }
}
